<% content_for(:title, t('.title')) %>
<div class="bg-violet-50 w-full md:w-2/3 lg:w-2/5 mx-auto mt-24 mb-8 px-8 md:px-10 py-6 rounded-4xl">
  <h1 class="font-bold text-xl md:text-2xl lg:text-3xl"><%= t('.title') %></h1>
  <%= form_with model: @user do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name, class: "block mt-3" %>
    <%= f.text_field :name, class: "bg-white border border-indigo-300 w-full mt-2 px-2 h-8.5 appearance-none" %>

    <%= f.label :email, class: "block mt-3" %>
    <%= f.email_field :email, class: "bg-white border border-indigo-300 w-full mt-2 px-2 h-8.5 appearance-none" %>

    <%= f.label :password, class: "block mt-3" %>
    <%= f.password_field :password, class: "bg-white border border-indigo-300 w-full mt-2 px-2 py-1" %>

    <%= f.label :password_confirmation, class: "block mt-3" %>
    <%= f.password_field :password_confirmation, class: "bg-white border border-indigo-300 w-full mt-2 px-2 py-1" %>

    <%= f.submit t(".create"), class: "border border-indigo-400 hover:bg-violet-200 block mx-auto mt-6 py-1 w-24 rounded-xl" %>
  <% end %>
</div>
<div class="mt-6 text-center">
  <%= link_to t('.to_login_page'), login_path, class: "border-b-1 border-dashed" %>
</div>
