<% content_for(:title, t(".title")) %>
<div class="bg-violet-50 w-full mx-auto mt-24 mb-18 md:mb-8 px-2 md:px-16 py-4 md:py-8 rounded-2xl md:rounded-3xl">
  <h1 class="font-bold text-2xl md:text-3xl lg:text-4xl mb-2 md:mb-4 text-center">
    <span class="border-b-2"><%= t(".title") %></span>
  </h1>
  <div class="font-bold text-xl md:text-2xl text-indigo-500 mt-2 md:mt-4 text-center">
    <%= link_to t(".link_to_deck", deck_name: @deck.name), deck_path(@deck), class: " border-b border-dashed" %>
    <%= t(".add_cards") %>
  </div>
  <% if @cards.exists? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4 mt-2 md:mt-4">
    <% @cards.each do |card| %>
      <div class="flex flex-col border-2 border-blue-500 shadow-sm shadow-pink-300 rounded-lg w-full h-[150px] p-2">
        <p class="font-bold"><%= card.name %></p>
        <p class="mt-1"><%= card.meaning %></p>
        <div class="mt-auto text-right">
          <%= button_to deck_deck_cards_path(@deck, card_id: card.id), method: :post, class: "text-lime-50 bg-linear-to-r from-blue-500 to-violet-500 hover:opacity-70 disabled:bg-gray-400 rounded px-3 py-1" do %>
            <i class="fa-solid fa-circle-plus"></i> <%= t(".add") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="text-red-500 mt-2 text-center">
      <i class="fa-solid fa-circle-exclamation"></i> <%= t(".no_cards") %>
    </div>
  <% end %>
</div>
