<header class="flex justify-between fixed top-0 right-0 w-full p-4 text-lime-50 bg-linear-to-r from-blue-500/90 to-violet-500/90">
  <h1 class="text-2xl">
    <%= link_to root_path, class: "flex items-center gap-1" do %>
      <%= image_tag "icon.png", size: '28x28' %> <span>Flashare</span>
    <% end %>
  </h1>
  <ul class="flex items-center gap-4">
    <li>
      <%= link_to new_user_path do %>
        <i class="fa-solid fa-user-plus"></i> <%= t("defaults.signup") %>
      <% end %>
    </li>
    <li>
      <%= link_to login_path do %>
        <i class="fa-solid fa-user"></i> <%= t("defaults.login") %>
      <% end %>
    </li>
  </ul>
</header>