<header class="flex justify-between p-4 bg-cyan-600">
  <h1 class="text-3xl">
    <%= link_to "Flashare", root_path %>
  </h1>
  <ul class="flex items-center gap-4">
    <li>
      <%= link_to "ホーム", root_path %>
    </li>
    <li>
      <%= link_to "単語", "#" %>
    </li>
    <li>
      <%= link_to "マイセット", "#" %>
    </li>
    <li>
      <%= link_to "Start", "#" %>
    </li>
    <li>
      <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %>
    </li>
  </ul>
</header>