<header class="flex justify-between fixed top-0 right-0 w-full p-4 text-lime-50 bg-linear-to-r from-blue-300/90 to-violet-300/90" data-controller="hamburger">
  <h1 class="text-2xl lg:text-3xl">
    <%= link_to "Flashare", root_path %>
  </h1>
  <%# モバイルデバイス用のハンバーガーメニュー %>
  <div class="md:hidden w-12.5 h-12.5 fixed top-1.25 right-2.5 z-30" data-action="click->hamburger#switchMenu">
    <span class="top-4 w-7.5 h-0.75 bg-lime-50 inline-block absolute left-2.5 transition-all duration-400" data-hamburger-target="hamburgerLine1"></span>
    <span class="top-6.25 w-7.5 h-0.75 bg-lime-50 inline-block absolute left-2.5 transition-all duration-400" data-hamburger-target="hamburgerLine2"></span>
    <span class="top-8.5 w-7.5 h-0.75 bg-lime-50 inline-block absolute left-2.5 transition-all duration-400" data-hamburger-target="hamburgerLine3"></span>
  </div>
  <%# モバイルデバイス用のナビゲーションメニュー %>
  <nav class="md:hidden text-lime-50 w-4/5 h-screen bg-linear-to-r from-blue-400 to-violet-400 fixed top-0 -right-4/5 z-20 transition-all duration-600 text-center text-2xl" data-hamburger-target="hamburgerMenu">
    <ul class="py-15">
      <li class="py-2.5">
        <%= link_to t('header.home'), root_path %>
      </li>
      <li class="py-2.5">
        <%= link_to t('header.card'), cards_path %>
      </li>
      <li class="py-2.5">
        <%= link_to t('header.deck'), decks_path %>
      </li>
      <li class="py-2.5">
        <%= link_to t('header.quiz'), quiz_sessions_path %>
      </li>
    </ul>
    <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %>
  </nav>

  <%# タブレット・PC用のナビゲーションメニュー %>
  <nav class="hidden md:flex items-center gap-12">
    <ul class="flex items-center gap-4">
      <li>
        <%= link_to t('header.home'), root_path %>
      </li>
      <li>
        <%= link_to t('header.card'), cards_path %>
      </li>
      <li>
        <%= link_to t('header.deck'), decks_path %>
      </li>
      <li>
        <%= link_to t('header.quiz'), quiz_sessions_path %>
      </li>
    </ul>
    <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %>
  </nav>
</header>