<% content_for(:title, t(".title")) %>
<div class="mt-24 mb-8 px-2 md:px-10 py-4 md:py-8 rounded-2xl md:rounded-3xl bg-violet-50">
  <h1 class=" text-center font-bold text-xl md:text-2xl lg:text-3xl bg-linear-to-r from-blue-500 to-pink-500 bg-clip-text text-transparent"><%= t(".title") %></h1>
  <div>
    <% if @quiz_sessions.exists? %>
      <% @quiz_sessions.each do |quiz_session| %>
        <%= quiz_session.deck.name %>
        <%= button_to t(".start_quiz"), start_quiz_session_path(quiz_session) %>
        <%= button_to t("defaults.delete"), quiz_session_path(quiz_session), class: "border-b border-dashed", method: :delete, data: { turbo_confirm: t('defaults.delete_confirm') } %>
      <% end %>
    <% else %>
      <%= link_to t(".no_question_message"), decks_path, class: "border-b-1 border-dashed" %>
    <% end %>
  </div>
</div>
