<% deck_classes ||= "w-full" %>

<div class="flex flex-col border rounded <%= deck_classes %> h-[200px] mx-auto mt-4 p-2">
  <p class="font-bold"><%= deck.name %></p>
  <p class="mt-1"><%= deck.description %></p>
  <div class="mt-auto flex justify-between">
    <div class="">
      <% if deck.public %>
        <%= t("defaults.public.true") %>
      <% else %>
        <%= t("defaults.public.false") %>
      <% end %>
    </div>
    <div class="">
      <%= link_to t("defaults.show"), deck_path(deck), class: "border-b border-dashed" %>
      <span class="mx-1">|</span>
      <%= link_to t("defaults.edit"), edit_deck_path(deck), class: "border-b border-dashed" %>
      <span class="mx-1">|</span>
      <%= link_to t("defaults.delete"), deck_path(deck), class: "border-b border-dashed", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
    </div>
  </div>
</div>