<div class="flex flex-col border-2 border-indigo-500 shadow-sm shadow-pink-300 rounded-lg w-full h-[200px] p-2">
  <p class="font-bold"><%= deck.name %></p>
  <p class="mt-1"><%= deck.description %></p>
  <div class="mt-auto flex items-center justify-between">
    <div class="">
      <% if deck.public %>
        <i class="fa-solid fa-lock-open"></i>
      <% else %>
        <i class="fa-solid fa-lock"></i>
      <% end %>
    </div>
    <div class="mt-auto flex justify-end items-center">
      <% if deck_page == "show" %>
        <%= link_to deck_deck_cards_path(deck), class: "text-white bg-linear-to-r from-cyan-600 to-blue-600 ring ring-blue-700 hover:opacity-70 rounded px-1 md:px-2 py-0.5" do %>
          <i class="fa-solid fa-circle-plus"></i> <%= t("defaults.link.to_add_card_page") %>
        <% end %>
      <% else%>
        <%= link_to deck_path(deck), class: "text-white bg-linear-to-r from-cyan-600 to-blue-600 ring ring-blue-700 hover:opacity-70 rounded px-1 md:px-2 py-0.5" do %>
          <i class="fa-solid fa-eye"></i> <%= t("defaults.show") %>
        <% end %>
      <% end %>
      <span class="mx-1"></span>
      <%= link_to edit_deck_path(deck), class: "text-white bg-linear-to-r from-lime-600 to-teal-600 ring ring-emerald-700 hover:opacity-70 rounded px-1 md:px-2 py-0.5" do %>
        <i class="fa-solid fa-file-pen"></i> <%= t("defaults.edit") %>
      <% end %>
      <span class="mx-1"></span>
      <%= button_to deck_path(deck), class: "text-white bg-linear-to-r from-red-600 to-pink-600 ring ring-pink-700 hover:opacity-70 rounded px-1 md:px-2 py-0.5", method: :delete, data: { turbo_confirm: t("defaults.delete_confirm") } do %>
        <i class="fa-solid fa-trash-can"></i> <%= t("defaults.delete") %>
      <% end %>
    </div>
  </div>
</div>