<%= form_with model: @deck do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name, class: "block mt-3" %>
  <%= f.text_field :name, class: "bg-white border border-indigo-300 w-full mt-2 px-2 py-1" %>

  <%= f.label :description, class: "block mt-3" %>
  <%= f.text_area :description, class: "bg-white border border-indigo-300 w-full h-27 md:h-21 mt-2 px-2 py-1" %>

  <p class="mt-3"><%= t("defaults.public.config") %></p>
  <div class="mt-2">
    <%= f.radio_button :public, true %>
    <%= f.label :public_true do %>
      <%= t("defaults.public.true") %><i class="fa-solid fa-unlock"></i>
    <% end %>

    <span class="mx-1"></span>

    <%= f.radio_button :public, false, checked: true %>
    <%= f.label :public_false do %>
      <%= t("defaults.public.false") %><i class="fa-solid fa-lock"></i>
    <% end %>
  </div>

  <%= f.submit class: "text-lime-50 bg-linear-to-r from-blue-500 to-violet-500 hover:opacity-70 border border-indigo-600 rounded block mx-auto mt-4 px-6 py-1.5" %>
<% end %>
