<div class="w-3/4">
  <%= form_with model: @deck do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="mt-2">
      <div>
        <%= f.label :name %>
      </div>
      <div>
        <%= f.text_field :name, class: "text-black bg-white w-full mt-1 px-2" %>
      </div>
    </div>
    <div class="mt-2">
      <div>
        <%= f.label :description %>
      </div>
      <div>
        <%= f.text_area :description, class: "text-black bg-white w-full h-16 mt-1 px-2" %>
      </div>
    </div>
        <div class="mt-2">
      <p><%= t("defaults.public.config") %></p>
      <span>
        <%= f.radio_button :public, true %>
        <%= f.label :public_true, t("defaults.public.true") %>
      </span>
      <span>
        <%= f.radio_button :public, false, checked: true %>
        <%= f.label :public_false, t("defaults.public.false") %>
      </span>
    </div>
    <div class="text-center">
      <%= f.submit class: "border border-white rounded-lg w-[100px] mt-4" %>
    </div>
  <% end %>
</div>