<% set_meta_tags title: t(".title") %>
<div class="page-container w-full lg:w-2/3 mx-auto mt-24 mb-18 md:mb-8 px-2 md:px-10 py-6">
  <div class="flex justify-between items-center mb-3">
    <h1 class="font-bold text-xl md:text-2xl lg:text-3xl"><%= t(".title") %></h1>
    <%= button_to quiz_sessions_path(deck_id: @deck.id), { method: :post, class: "primary-button px-4 py-2" } do %>
      <i class="fa-solid fa-folder-plus"></i> <%= t("defaults.question_reservation") %>
    <% end %>
  </div>
  <%= render 'decks/deck', deck: @deck, deck_page: "show" %>
  <div class="font-bold text-lg mt-4 mb-2"><%= t(".added_cards") %></div>
  <% if @deck.cards.exists? %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full">
      <% @deck.cards.each do |card| %>
        <%= render 'decks/deck_cards', deck: @deck, card: card %>
      <% end %>
    </div>
  <% else %>
    <div class="text-red-500">
      <i class="fa-solid fa-circle-exclamation"></i> <%= t(".no_cards") %>
    </div>
  <% end %>
</div>